:root{
    --body-tex-color: #E5E5E5;
    --background-color: #2F303A;
    --head-color: #FFFFFF;
    --text-color: #757575;
    --header-text-color: #212121;
    --section-padding: 94px;
    
}



body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h5,
p{
    margin: 0;
}

ul{
    padding-left: 0;
    margin: 0;
}
.img{
    display:block;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header .container{
    display: flex;
    align-items: center;
}

.list{
    list-style: none;
    }
    
.header-list{
    display: flex;
    background-color: var(--head-color);
}

.text{
    color: var(--header-text-color);
}

  
.business{
    background-color: var(--background-color);
    color: #FFFFFF;
}
.business .container{
    display: flex;
}

.section-work{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-img{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-team{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.header-team{
    margin-bottom: 50px;
}
.footer-text{
    margin-top: 20px;
}
.img-team{
    margin-bottom: 30px;
}
.main-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-list{
    margin-bottom: 50px;
}

.head{
    max-width: 696px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    padding-top: 200px;
}

.order{
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background-color: #2196F3;
    color: #ffffff;
    cursor: pointer;
}

.priority{
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.work-text{
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.head-img{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.section-team{
    background-color: #F5F4FA
}

.employee{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    margin-bottom: 10px;
}

.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color)
}

.header-name{
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.header-logo{
    color: #212121;
}

.header-item{
    margin-right: 50px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-item:hover,
.header-item:focus{
    color: #2196F3;
}

.header-contact-list{
    display: flex;
    margin-left: auto;
}

.head{
    padding-top: 200px;
}

.header-contact{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.header-contact:hover,
.header-contact:focus{
    color: #2196F3;
}

.tel{
    margin-left: 50px;
}

.btn-style{
    padding: 6px 22px;
    cursor: pointer;
    background-color: #F5F4FA;
    color: var(--header-text-color);
    border-radius: 4px;
    border: none;
}

.btn-style:hover,
.btn-style:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.section-pictures{
    background-color: var(--head-color);
}

.block{
    text-decoration: none;
}

.section-link{
    margin-bottom: 20px;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 262px;
}

.section-header{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
 }

.section-text{
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
}

.footer-name{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.footer-logo{
    color: #FFFFFF;
}

.footer-text{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contact{
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;
}

.footer-contact:hover,
.footer-contact:focus{
    color: #2196F3;
}